@font-face {
	font-family: "Circular Std";
	font-weight: normal;
	src: url("/assets/fonts/CircularStd-Book.ttf");
}

@font-face {
	font-family: "Circular Std";
	font-weight: bold;
	src: url("/assets/fonts/CircularStd-Medium.ttf");
}