// configuration

//base
$background-color: "rgb(var(--color-dark))";
$text-color: "rgb(var(--color-light))";

// font
$font-family: "Circular Std";
$font-weight: 300;

// grid
$column-width: 12;
$column-gap: 15px;