body
{
	background-color: rgb(49, 159, 60);
	color: rgb(var(--color-light));
}

.btn-green
{
	border: 2px solid rgb(17, 114, 17);
	background-color: rgb(40, 142, 32);
	color: rgb(var(--color-light));
	font-weight: bold;
	padding: 14px 0;
}
